[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pylint = "*"
tox = "*"
flake8 = "*"

[packages]
zappa = "*"
djangorestframework = "*"
django = "===1.11.16"
whitenoise = "*"
django-polymorphic = "*"
django-jsonfield = "*"

[requires]
python_version = "3.6"
